.overlay {
    overflow: hidden;
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay::before {
    z-index: -1;
    content: ' ';
    background: gray;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup {
    z-index: 10;
    background: white;
    border-radius: 10px;
    margin: 150px auto;
    padding: 10px;
    max-width: 500px;
    text-align: center;
    overflow: hidden;
}

@media (max-width: 520px) {
    .popup {
        margin: 100px 10px;
    }
}

.username {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    vertical-align: middle;
    font-size: 18px;
}

.score {
    color: #499F68;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    font-size: 24px;
    padding: 3px 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.highscore {
    color: #157A6E;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    font-size: 24px;
    padding: 3px 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0 -10px 20px -10px;
    border-bottom: 2px solid #5ac546;
}

.bottom-controls {
    background: #499F68;
    /* margin-top: 25px; */
    /* width: 100px; */
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-radius: 52px;
    font-size: 32px;
    text-align: center;
    color: white;
    padding-left: 3px;
}

.bottom-controls:hover {
    cursor: pointer;
}

.bottom-controls:active {
    background: #3e8759;
}

.play {
    vertical-align: middle;
}

@media (max-width: 400px) {
    .this-share {
        padding: 0;
    }
}

.challenge-friends.on-telegram {
    background-color: #41a5e0;
    color: white;
}

.challenge-friends.on-telegram:active {
    background: #338cc1;
}

.telegram-share {
    margin-left: -8px;
}

.challenge-friends.on-telegram .title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.challenge-friends .yourHighscore {
    text-transform: initial;
    font-weight: 400;
    font-size: 20px;
    display: none;
}

.share-data {
    padding-left: 20px;
    margin: auto;
}

.avatar-wrap {
    transform: scale(2, 2);
    padding-top: 10px;
    /* margin-top: 20px; */
    /* overflow: hidden; */
    /* margin: 20px 20px 0 20px; */
}

.scoreboard {
    padding: 0;
    overflow: -webkit-paged-y;
    /* margin-top: 20px; */
}

.bottom-buttons {
    padding: 0;
    margin-top: 10px;
}

.crown {
    display: none;
    float: left;
}

.pic_wrap {
    overflow: -webkit-paged-y;
    padding: 15px 0;
}